[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "3.9.0b0"
openai = "*"
langchain = "*"
pinecone-client = "*"
beautifulsoup4 = "*"
pypdf = "*"
tiktoken = "*"
markdown = "*"
python-dotenv = "*"
streamlit = "*"
streamlit-chat = "*"
#chromadb = "*"
#chroma = "*"
#install = "*"
#watchdog = "*"
#unstructured = "*"

[dev-packages]
black = "*"
jupyter = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
