[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.9.0b0"
openai = "0.28"
langchain = "*"
pinecone-client = "*"
beautifulsoup4 = "*"
markdown = "*"
python-dotenv = "*"
pypdf = "*"
jupyter = "*"
streamlit = "*"
streamlit-chat = "*"
black = "*"
#chromadb = "*"
#chroma = "*"
#unstructured = "*"
#tiktoken = "*"
#install = "*"
#watchdog = "*"

[dev-packages]

[requires]
python_version = "3.12"
